@import '../../index.scss';
@import '../../global/mixins.scss';

.contact-section{
  @include sectionLayout;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  overflow: hidden;


}
