@import '../../global/mixins.scss';
@import '../../index.scss';

.ai-section{
  @include sectionLayout;
  &{
    background: #040707;
    color: white;
    position: relative;
    padding: 0px 5vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: var(--text-size);

    @media screen and (max-width: 800px){
      grid-template-columns: 1fr;
      min-height: 100vh;
      height: unset;
      padding-bottom: 2rem;
    }
  }



  #chat-window{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .chat-section{
    background-color: rgb(185, 185, 185);
  }

  .info-area{
    display: flex;
    flex-direction: column;
    background-color: gray;
  }

  .info-area h1{
    text-align: center;
  }

  .ai-left{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding-left: 7%;
    padding-right: 5vw;
    transition: 0.8s ease;


    .questions-container{
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .about-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 10%;
      right: 10%;
      top: 52%;
      color: white;
      text-align: center;
      cursor: pointer;
      font-size: var(--h2-size);

      transition: 0.8s ease;

      &:hover > .header-underline{
        animation: extend-line 0.3s ease forwards;
      }
      .header-underline{
        display: flex;
        margin-top: 3px;
        height: 3px;
        width: 15%;
        background-color: #B2CC85;
        animation: shrink-line 0.3s ease forwards;

        transition: 0.8s ease;
      }
    }
    .about-article{
      right: 10vw;
      left: 10%;
      right: 10%;
      top: 60%;
      color: white;
      font-size: var(--text-size);
      text-align: justify;
      hyphens: auto;
      transition: 0.8s ease;
    }
  }
  


  .ai-right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: inherit;
    padding-left: 7%;
    padding-right: 7%;
    transition: 0.8s ease;

    @media screen and (max-width: 800px) {
      height: 100vh;
    }
  }
}


.show-element-left{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-left{
  opacity: 0;
  transform: translateX(-100px);
}
.show-element-right{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-right{
  opacity: 0;
  transform: translateX(+100px);
}