@import '../../../index.scss';

.input-group{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 14px;
  position: relative;

  .textarea{
    border: 1px solid rgba(4,7,7,0.7);
    position: relative;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.5);
    min-height: 200px;
    color: black;
    border-radius: 5px;
    resize: none;

    &:focus{
      border: 1px solid var(--highlight);
      outline: none;
    }
  }

}
.input-group:focus-within > label{
  color: var(--highlight);
}