@import '../../index.scss';
@import '../../global/mixins.scss';

.projects-section-1,
.projects-section-2,
.projects-section-3,
.projects-section-4{
  @include sectionLayout;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 5vw;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.projects-section-1,
.projects-section-2,
.projects-section-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  z-index: 0 !important;

  .header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
}

.projects-section-1,
.projects-section-3{
  position: relative;
  background-color: #c0d69f;
  background-color: rgb(244, 244, 244);
  z-index: 0;

  .scene-container{
    position: absolute;
    background-color: transparent;
    background: transparent;
    inset: 0px 0px 0px 0px;
  }
}
.projects-section-2,
.projects-section-4{
  color: #ffffff;
  background-color: var(--background-custom-black);
  z-index: 2;

  .scene-container{
    position: absolute;
    background-color: transparent;
    background: transparent;
    inset: 0px 0px 0px 0px;
  }
}
.projects-section-3{
}


.projects-section-4{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 3rem;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  background-color: white;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 0px !important;
  padding-top: 80px;

  .other-projects-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: black;

    h1{
      @include h1_default;
    }

    > * {
      margin: 0px;
    }
  }
}