@import '../../global/mixins.scss';
@import '../../index.scss';

.projects-section-0,
.projects-section-1,
.projects-section-2,
.projects-section-3,
.projects-section-4{
  @include sectionLayout;
  &{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 5vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
  }

  .ground-white,
  .ground{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    z-index: 12 !important;
    background-color: black;
  }
  .ground-white{
    background-color: #FCFFFC !important;
    background-color: var(--background-color);
  }
}

.projects-section-0,
.projects-section-1,
.projects-section-2,
.projects-section-3,
.projects-section-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  z-index: 0 !important;

  .header{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
}

.projects-section-1,
.projects-section-3{
  position: relative;
  background-color: #c0d69f;
  background-color: var(--background-color);
  z-index: 0;

  .scene-container{
    position: absolute;
    background-color: transparent;
    background: transparent;
    inset: 0px 0px 0px 0px;
  }
}
.projects-section-0,
.projects-section-2,
.projects-section-4{
  color: #ffffff;
  background-color: var(--background-custom-black);

  z-index: 2;

  .scene-container{
    position: absolute;
    background-color: transparent;
    background: transparent;
    inset: 0px 0px 0px 0px;
  }
}


.projects-section-5{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  gap: 3rem;
  padding-left: 5vw;
  padding-right: 5vw;
  box-sizing: border-box;
  background-color: var(--background-color);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 0px !important;
  // padding-top: 80px;

  .other-projects-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: black;


    h1{
      @include h1_default;
    }

    > * {
      margin: 0px;
    }
  }
}


// PATH SVG's

.projects-section-1{
  .color-fill{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 6vh;
    background-color: #D9EAC0;
    z-index: -1;
  }

  .path-container-0{
    position: absolute;
    min-height: 300px;
    left: 0px;
    right: 0px;
  }
  .path-container{
    position: absolute;
    min-height: 300px;
    bottom: -7vw;
    // left: 0px;
    right: -18vw;
    z-index: -1;

    @media screen and (max-width: 800px) {
      bottom: -14vw;
    }
  }
  .path-container-2{
    position: absolute;
    min-height: 300px;
    bottom: -160px;
    bottom: -10vw;
    left: -20vw;
    right: 0px;
    z-index: -1;
    transform: rotateY(180deg) rotateX(30deg);

    @media screen and (max-width: 800px) {
      bottom: -17vw;
    }
  }
}

.projects-section-3{
  .path-container{
    position: absolute;
    bottom: -6vw;
    left: 0px;
    right: 0px;
    z-index: -1;
    transform: rotateX(120deg) rotateZ(180deg);

    @media screen and (max-width: 800px) {
      bottom: 2vw;
    }
  }
  .path-container-2{
    position: absolute;
    bottom: -12vw;
    left: 0px;
    right: 0px;
    z-index: -1;
    transform: rotateX(120deg);

    @media screen and (max-width: 800px) {
      bottom: -7vw;
    }
  }

}