@import '../../index.scss';
@import '../../global/mixins.scss';

html, body {
  overflow-x: hidden;
  height: 100%;
  box-sizing: border-box
}

.home-section{
  @include sectionLayout;
  background: linear-gradient(to bottom, #ffffff 70%, #040707 30%);
  background: transparent;
  max-height: 100vh !important;
  max-width: 100vw !important;
  box-sizing: border-box;

  .para-container{
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    max-height: 100vh;
    contain: paint;
    // overflow: hidden;
    box-sizing: border-box;


     .para {
      // width: 10vw !important;
      width: calc(100vw - 8px) !important;
      grid-area: stack !important;
      animation: parallax linear;
      animation-timeline: scroll();
      height: 100vh;

    }

    .hero-wrapper{
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;


      #landing-hero-text,
      #landing-sub-text{
        display: flex;
        justify-content: center;
        font-size: clamp(18px, 6vw, 3rem);
        font-weight: bold;
        position: absolute;
        top: clamp(80px, 90px, 130px);
        left: 0;
        z-index: -1;
        --para-speed: 23;
        color: var(--hero-text-color);
        animation: zoom-out, parallax linear;
        animation-timeline: scroll();
        z-index: -1 !important;
      }

      #landing-sub-text{
        top: clamp(80px, 6vw, 130px);
        font-size: clamp(16px, 3vw, 1.5rem) !important;
        color: #B2CC85;
        --para-speed: 22;
      }

      #landing-hero-text{
        position: relative;

        .scroll-down-icon{
          position: absolute;
          left: 50%;
          top: 8%;
          bottom: 60px;
          transform: translateX(-20px);
          --para-speed: 2;

          cursor: pointer;
        }
      }
    }

    #img-1{
      height: 101%;
    }
    #img-1,
    #img-2,
    #img-3,
    #img-4,
    #img-5{
      z-index: 0;
    }

    #img-1 { --para-speed: 4; }
    #img-2 { --para-speed: 5; }
    #img-3 { --para-speed: 9; }
    #img-4 { --para-speed: 14; }
    #img-5 { --para-speed: 17; }
  }
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--para-speed) * 200px));
  }
}
@keyframes zoom-out {
  to {
    transform: scale(0);
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .home-section{
    .para-container{
      #img-1, #img-2, #img-3, #img-4, #img-5{
        // width: 100vw;
      }
      .hero-wrapper{
        #landing-hero-text{
          top: 40px;
        }
        #landing-sub-text{
          top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home-section{
    .para-container{
      #img-1, #img-2, #img-3, #img-4, #img-5{
        // width: 100vw;
      }
      .hero-wrapper{
        #landing-hero-text{
          top: 50px;
        }
        #landing-sub-text{
          top: 45px;
        }
      }
    }
  }
}
