@import '../../../../index.scss';

.wrapper{
  .outline{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    min-width: 30px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 3px;
    font-size: clamp(12px, 16px, 18px);
    color: black;
  }
  
  .text{
    font-size: 10px;
    text-align: center;
    margin: 0px;
  }
}
