@import '../../../index.scss';

.project-carousel{
  --padding: 10vw;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 100fr 1fr;
  overflow: hidden;
  min-height: 300px;
  background-color: transparent !important;

      .right,
      .left{
        transition: 0.2s ease;
        cursor: pointer;
        width: 30px;
        height: 30px;
        fill: #ffffff;
        z-index: 3;
        user-select: none;
        align-self: center;
    
        &:hover{
          transform: scale(1.2);
        }
      }
      .right{
        padding-right: 10px;
        right: 20px;
      }
      .left{
        padding-left: 10px;
        left: 25px;
      }
      background-color: var(--background-custom-black);
      height: 65vh;

    .projects{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: start;
      background-color: transparent;
      overflow: hidden;
      height: 100%;
      position: relative;
      justify-self: center;
      min-height: 300px;
      border-radius: 5px;

      
        .image-window{
          display: flex;
          transition: 0.6s ease-in-out;
          position: relative;
          width: min-content;
          height: inherit;
          align-items: center;
          width: 100%;

          .video-container{
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            justify-self: center;
            min-width: 100% !important;
            min-height: 100% !important;
            // object-fit: contain;
            z-index: 3;
          }

          .image-container{
            display: flex;
            height: inherit;
            width: 100%;
            justify-content: center;

            .carousel-img{
              display: flex;
              min-width: 100% !important;
              // min-height: 100% !important;
              object-fit: contain;
              user-select: none;
              pointer-events: none;
            }
          }

        }
    }

}

@media screen and (max-width: 800px){
  .project-carousel{
    .image-wrapper{
      height: auto;
      .image-window{
        .carousel-img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}