@import '../../../index.scss';
@import '../../../global/mixins.scss';


.scene-fade-in{
  background-color: rgba(0,0,0,0) !important;
}
.scene{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  transition: 2s linear;

  // FADE IN LEAVES
  .leaf-right{
    left: 30%;
    transform: translateX(10vw);
    bottom: -10%;
    transition: 2s linear;
  }
  .leaf-right-fade-out{
    animation: moveAndRotateLeavesRight 2s linear forwards;
  }
  @keyframes moveAndRotateLeavesRight {
    from {
      transform: translateX(0) rotateZ(0deg) rotateX(0deg);
    }
    to {
      transform: translateX(110vw) rotateZ(60deg) rotateX(60deg) 
    }
  }

  .leaf-left{
    right: 30%;
    transform: translateX(-10vw);
    bottom: -10%;
    transition: 2s linear;
  }
  .leaf-left-fade-out{
    animation: moveAndRotateLeavesLeft 2s linear forwards;
  }
  @keyframes moveAndRotateLeavesLeft {
    from {
      transform: translateX(0) rotateZ(0deg) rotateX(0deg);
    }
    to {
      transform: translateX(-110vw) rotateZ(-60deg) rotateX(-60deg) 
    }
  }

   // GLOBAL STATIC ASSETS
   .static-asset{
    position: absolute;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  // SHRUB 0
  .shrub-0{
    right: -20vw;
    transform: translateX(25%);
    bottom: -10vh;
    height: 30vh;
    transition: 1.4s linear;
  }
  .shrub-0-move{
    transform: translateX(25%);
    right: 0vw;
  }

  // SHRUB 1
  .shrub-1{
    left: -20vw;
    transform: translateX(-35%);
    bottom: -10vh;
    height: 10vh;
    transition: 1.4s linear;
  }
  .shrub-1-move{
    transform: translateX(-35%);
    height: 32vh;
    left: 0;
  }


  // SHRUB 2
  .shrub-2{
    left: -20vw;
    transform: translateX(15%);
    bottom: -10vh;
    height: 7vh;
    transition: 1.4s linear;
  }
  .shrub-2-move{
    transform: translateX(15%);
    height: 25vh;
    left: 0;
  }

  // WOLF 0
  .wolf-0{
    height: 30vh;
    bottom: -4.8vh;
    right: -50vw;
    transition: 4s linear;
  }

  // WOLF 1
  .wolf-1{
    height: 25vh;
    bottom: -4.8vh;
    right: -70vw;
    transition: 5s linear;
  }
  .move-wolf{
    right: 100vw;
  }

  // ROCK 0
  .rock-0{
    height: 10vh;
    right: 20vw;
    bottom: -10vh;
    transition: 1.4s linear;
  }
  .move-rock-0{
    height: 10vh;
    bottom: -4vh;
  }
}
 