@import '../../index.scss';
@import '../../global/mixins.scss';

.about-section{
  @include sectionLayout;
  z-index: 2 !important;
  height: calc(100dvh + 100px);
  // background-color: #10190D;
  background-color: #040707;
  background: #040707;
  // background-color: #10190D;
  // background: linear-gradient(to bottom, #10190D 20%, #000000 80%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 0px 5vw;

  .about-left{
    position: relative;

    .about-section-hero-text{
      position: absolute;
      font-size: 75px;
      color: white;
      margin: 0px;
      font-weight: 600;
      z-index: 2;
      bottom: 7vw;
      left: 7vw;

      transition: 0.8s ease;
    }
    .border-div{
      position: absolute;
      left: 10vw;
      bottom: 7vw;
      border: 4px solid #B2CC85;
      width: 30vw;
      height: 60%;
    }
    .profile-image{
      position: absolute;
      left: 14vw;
      bottom: 5vw;
      width: 30vw;
      height: 60%;

      transition: 0.8s ease;
    }
  }
  
  .about-right{
    position: relative;


    &:hover > div {
      background-color: red;
      width: 100%;
    }

    .about-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 10vw;
      left: 10%;
      right: 10%;
      top: 51%;
      color: white;
      text-align: center;
      cursor: pointer;

      transition: 0.8s ease;

      &:hover > .header-underline{
        animation: extend-line 0.3s ease forwards;
      }
      .header-underline{
        display: flex;
        margin-top: 3px;
        height: 3px;
        width: 15%;
        background-color: #B2CC85;
        animation: shrink-line 0.3s ease forwards;

        transition: 0.8s ease;
      }
    }
    .about-article{
      position: absolute;
      right: 10vw;
      left: 10%;
      right: 10%;
      top: 60%;
      color: white;
      font-size: 14px;

      transition: 0.8s ease;
    }
  }
}

@keyframes extend-line {
  from{
    width: 15%;
  } to {
    width: 60%;
  }
}
@keyframes shrink-line {
  from{
    width: 60%;
  } to {
    width: 15%;
  }
}

.show-element-left{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-left{
  opacity: 0;
  transform: translateX(-100px);
}
.show-element-right{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-right{
  opacity: 0;
  transform: translateX(+100px);
}