@import '../../global/mixins.scss';
@import '../../index.scss';

.about-section{
  z-index: 2 !important;
  background: #040707;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 0px 5vw;
  min-height: calc(100dvh + 100px) !important;
  overflow: hidden;

  .buttons-container{
    display: flex;
    gap: 1rem;
    justify-content: end;

    .contact-me-btn{
      display: flex;
      background-color: var(--highlight);
      border-radius: 5px;
      padding: 0px;
      border: none;
      font-weight: 500;
      min-height: 45px;
      align-items: center;
      justify-content: center;
  
      .link-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 26px;
        width: 26px;
  
      }
  
      .contact-me-link{
        display: flex;
        padding: 10px 15px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        gap: 0.7rem;
      }
  
      &:hover{
        background-color: var(--highlight-hover);
        cursor: pointer;
      }
      &:active{
        transform: scale(0.97);
      }
    }
  }



  .about-left{
    position: relative;

    .about-section-hero-text{
      position: absolute;
      font-size: clamp(40px, 55px, 75px);
      color: white;
      margin: 0px;
      font-weight: 600;
      z-index: 2;
      bottom: 7vw;
      left: 3vw;
      text-shadow: 0px 0px 3px rgba(0,0,0,0.5);

      transition: 0.8s ease;
    }
    .border-div{
      position: absolute;
      left: 5vw;
      bottom: 7vw;
      border: 4px solid #B2CC85;
      width: 30vw;
      height: 66%;
    }
    .profile-image{
      position: absolute;
      left: 8vw;
      bottom: 5vw;
      width: 30vw;
      min-height: 67%;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      transform: rotateY(180deg);

      transition: 0.8s ease;
    }
  }
  
  .about-right{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding-left: 7%;
    padding-right: 5vw;
    padding-top: 7vw;

    .about-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      left: 10%;
      right: 10%;
      top: 52%;
      color: white;
      text-align: center;
      font-size: var(--h2-size);

      transition: 0.8s ease;

      &:hover > .header-underline{
        animation: extend-line 0.3s ease forwards;
      }
      .header-underline{
        display: flex;
        margin-top: 3px;
        height: 3px;
        width: 15%;
        background-color: #B2CC85;
        animation: shrink-line 0.3s ease forwards;

        transition: 0.8s ease;
      }
    }
    .about-article{
      right: 10vw;
      left: 10%;
      right: 10%;
      top: 60%;
      color: white;
      font-size: var(--text-size);
      text-align: justify;
      hyphens: auto;
      transition: 0.8s ease;

      .about-text{
        hyphens: auto;
      }
    }
  }
}

@keyframes extend-line {
  from{
    width: 15%;
  } to {
    width: 60%;
  }
}
@keyframes shrink-line {
  from{
    width: 60%;
  } to {
    width: 15%;
  }
}

.show-element-left{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-left{
  opacity: 0;
  transform: translateX(-100px);
}
.show-element-right{
  opacity: 1;
  transform: translateX(0px);
}
.hide-element-right{
  opacity: 0;
  transform: translateX(+100px);
}

@media screen and (max-width: 800px){
  .about-section{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    .about-left{
      display: flex;
      align-items: center;
      justify-content: center;
      
      .border-div{
        width: 60vw;
        left: 50%;
        transform: translateX(-50%);
      }
      .profile-image{
        min-width: 60vw;
        left: 50%;
        transform: translateX(-42%);
      }
    }
    .about-right{
      .about-header{
        position: unset;
        left: 10%;
        right: 10%;
        top: 5%;
      }
      .about-article{
        position: unset;
        left: 10%;
        right: 10%;
        top: 25%;
        height: max-content;
        text-align: justify;
        hyphens: auto;
        margin-bottom: 50px;
      }
    }
  }
}
.link{
  color: var(--highlight);
  &:hover{
    color: var(--highlight-hover);
  }
}

