@import '../../index.scss';
@import '../../global/mixins.scss';

.contact-wrapper{
  display: flex;
  margin-bottom: 15vw;
  justify-content: center;

  .after-message-screen{
    position: absolute;
  }

  .contact-form{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    gap: 0.5rem;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
    border-radius: 5px;
    transition: 0.5s ease;

    h1 {
      @include h1_default;
      justify-content: start;
    }

    .btn-submit{
      display: flex;
      background-color: var(--highlight);
      border: none;
      padding: 0.7rem;
      border-radius: 5px;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      .message-icon{
        height: 30px;
        width: 25px;
        margin-left: 5px;
      }

      &:hover{
        transform: scale(1.01);
        background-color: var(--highlight-hover);
      }
      &:active{
        transform: scale(0.98);
      }
    }
  }
}
.show-left{
  opacity: 1;
  transform: translateX(0px);
}
.hide-left{
  opacity: 0;
  transform: translateX(-100px);
}
.hideForm{
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  z-index: -1;
}

