@import '../../index.scss';
@import '../../global/mixins.scss';

:root{
  overflow-y: auto;
  // position: relative;
}

.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 100;
  transition: 0.5s ease;
  overflow: hidden;

  svg {
    display:block;
    width:258px;
    height:258px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
  
  .tree {
    fill: var(--loading-fill);
  }
  
  .circle-mask {
    transform-origin: 50% 90%;
    animation: scale 3s infinite ease-out;
  }
  
  @keyframes scale {
    0%, 100% {
      transform: scale(0.0);
    }
    7%, 90% {
      transform: scale(0.4);
    }
    50% {
      transform: scale(1);
    }
  }
}

.remove-loading{
  opacity: 0;
}
.disable{
  display: none;
}
.no-scroll {
  overflow: hidden;
}