@import '../../../index.scss';
@import '../../../global/mixins.scss';

.fade-in{
  transition: 1s linear;
  opacity: 1 !important;
}
.scene-fade-in{
  background-color: rgba(0,0,0,0) !important;
}
.scene-3{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  transition: 2s linear;

  // FADE IN LEAVES
  .leaf-right{
    left: 30%;
    transform: translateX(10vw);
    bottom: -10%;
    transition: 2s linear;
  }
  .leaf-right-fade-out{
    animation: moveAndRotateLeavesRight 2s linear forwards;
  }
  @keyframes moveAndRotateLeavesRight {
    from {
      transform: translateX(0) rotateZ(0deg) rotateX(0deg);
    }
    to {
      transform: translateX(110vw) rotateZ(60deg) rotateX(60deg) 
    }
  }

  .leaf-left{
    right: 30%;
    transform: translateX(-10vw);
    bottom: -10%;
    transition: 2s linear;
  }
  .leaf-left-fade-out{
    animation: moveAndRotateLeavesLeft 1.5s linear forwards;
  }
  @keyframes moveAndRotateLeavesLeft {
    from {
      transform: translateX(0) rotateZ(0deg) rotateX(0deg);
    }
    to {
      transform: translateX(-110vw) rotateZ(-60deg) rotateX(-60deg) 
    }
  }

   // GLOBAL STATIC ASSETS
   .static-asset{
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
  }

  .fox-sitting{
    opacity: 0;
    height: 38vh;
    bottom: -6.6vh;
    right: -60px;

    @media screen and (max-width: 800px) {
      height: 33vh;
      bottom: -35px;
      right: -120px;
    }
  }
  .fox-jumping{
    opacity: 0;
    height: 22vh;
    transform: rotateY(180deg);
    bottom: 7vh;
    left: 60px;

    @media screen and (max-width: 600px) {
      bottom: 59px;
      left: -5px;
    }
  }

    // ROCK 0
    .rock-0{
      opacity: 0;
      height: 10vh;
      right: 14vw;
      bottom: -18px;
      transform: rotateY(180deg);

      @media screen and (max-width: 600px) {
        right: 20vw;
      }
    }
    .move-rock-0{
      opacity: 0;
      height: 10vh;
      bottom: -4vh;
    }
    .rock-1{
      opacity: 0;
      height: 15vh;
      bottom: -2.4vh;
      left: -2.5vw;

      @media screen and (min-width: 600px) and (max-width: 1200px) {
        left: -75px;
        left: -4vw;
        bottom: -2.2vh;
      }

      @media screen and (max-width: 600px) {
        left: -75px;
        bottom: -1.5vh;
      }
    }
    .rock-2{
      opacity: 0;
      height: 10vh;
      left: 170px;
      right: 20vw;
      bottom: -10px;

      @media screen and (max-width: 600px) {
        left: 90px;
      }
    }
}