@import '../../index.scss';

.socials-sidebar{
  position: absolute;
  left: 0;
  top: 40%;
  bottom: 50%;
  background-color: var(--socials-sidebar-background);
  display: flex;
  flex-direction: column;
  width: 60px;
  padding: 0.4rem 0rem;
  border-radius: 5px;
  height: min-content;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
              0 1px 3px rgba(0, 0, 0, 0.08);

  .sidebar-icon-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;


    &:hover{
      background-color: lightblue;
    }
    * &:hover {
      transform: scale(1.05);
    }

    .sidebar-icon{
      cursor: pointer;
      width: 30px;
    }
  }

}