@import '../../index.scss';

.bird{
  position: absolute;
  width: 30px;
  height: 30px;

  animation: animate-bird linear infinite;
  animation-delay: 1s;
  transition: 3s linear;

  &:hover{
    width: 40px;
    height: 40px;
  }
  cursor: pointer;

  -webkit-tap-highlight-color: none !important;
}

@keyframes animate-bird {
  from{
    transform: translateX(-10vw);
  } to {
    transform: translateX(var(--translateX-end, 150vw));
  }
}

.test-bird{
}