@import './NormalizeCss.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  
  /* Typography */
  // --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family: "Poppins", sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --nav-font-size: 14px;

  /* Global Settings */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default Values */
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--color);

  /* ======= [ Colors ] ======= */
  /* Base Colors */
  // Ovde postavljam zajednicku varijablu koja se koristi u ostalim komponentama
  // Takodje postavljm default vrednost > white theme
    --color: rgba(255, 255, 255, 0.87);
    --background-color: #323232;
    // Navbar
      --nav-hover-color: #B2CC85;
      --nav-open-phone-menu-background: #ffffff;
      --nav-open-phone-menu-text-color: black;
      --nav-text-color: black;
    // Landing Page
      --hero-text-color: #000000;
    // Footer
      --footer-background: black;
      --footer-text-color: #ffffff;
    // Socials Sidebar
      --socials-sidebar-background: rgba(255,255,255,0.5);
      --socials-hover: #B2CC85;


  // Ovde postvljam pojedinacne boje u zavisnosti od aktivne teme
  /* Light Theme */
    --l-background-color: #ffffff;
    --l-color: #213547;
    // Navbar
      --l-nav-background-color: rgba(255,255,255,0.9);
      --l-nav-hover-color: #B2CC85;
      --l-nav-open-phone-menu-background: #ffffff;
      --l-nav-text-color: black;

    // Landing Section
      --l-hero-text-color: #000000;

    // Footer
      --l-footer-background: black;
      --l-footer-text-color: #ffffff;
    // Socials Sidebar
      --l-socials-sidebar-background: rgba(255, 255, 255, 0.5);
      --l-socials-hover: #B2CC85;

  /* Dark Theme */
    --d-background-color: #242424;
    --d-color: #ffffff;
    // Navbar
      --d-nav-background-color: rgba(36, 36, 36, 0.9);
      --d-nav-hover-color: #B2CC85;
      --d-nav-open-phone-menu-background: #242424;
      --d-nav-text-color: #ffffff;

    // Landing Section
      --d-hero-text-color: #ffffff;

    // Footer
      --d-footer-background: black;
      --d-footer-text-color: #ffffff;
    // Socials Sidebar
      --d-socials-sidebar-background: rgba(255, 255, 255, 0.5);
      --d-socials-hover: #B2CC85;


  /* ======= [ Colors ] ======= */
}

// Ovde povezujem varijable pojedinacnih tema sa glavnim default varijablama
@media (prefers-color-scheme: light) {
  :root {
    --color: var(--l-color);
    --background-color: var(--l-background-color);
    --nav-background-color: var(--l-nav-background-color);
    --nav-hover-color: var(--l-nav-hover-color);
    --nav-open-phone-menu-background: var(--l-nav-open-phone-menu-background);
    --nav-text-color: black;

    // Landing Page
    --hero-text-color: var(--l-hero-text-color);

    // Footer
    --footer-background: var(--l-footer-background);
    --footer-text-color: var(--l-footer-text-color);

    // Socials Sidebar
      --socials-sidebar-background: var(--l-socials-sidebar-background);
      --socials-hover: var(--l-socials-hover);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--d-color);
    --background-color: var(--d-background-color);
    --nav-background-color: var(--d-nav-background-color);
    --nav-hover-color: var(--d-nav-hover-color);
    --nav-open-phone-menu-background: var(--d-nav-open-phone-menu-background);
    --nav-text-color: #ffffff;

    // Landing Page
    --hero-text-color: var(--d-hero-text-color);

    // Footer
    --footer-background: var(--d-footer-background);
    --footer-text-color: var(--d-footer-text-color);

    // Socials Sidebar
      --socials-sidebar-background: var(--d-socials-sidebar-background);
      --socials-hover: var(--d-socials-hover);
  }
}



// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  cursor: pointer;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background: #353535;
  cursor: pointer;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 83, 83);
  cursor: pointer;
}
