@import './NormalizeCss.scss';

html{
  overflow-x: hidden;
}

:root {

  /* Typography */
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  /* Global Settings */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default Values */
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--color);

  /* ======= [ Colors ] ======= */
  /* Base Colors */
  // Ovde postavljam zajednicku varijablu koja se koristi u ostalim komponentama
  // Takodje postavljm default vrednost > white theme
    --color: rgba(255, 255, 255, 0.87);
    --background-color: #242424;
    // Navbar
      --nav-hover-color: #B2CC85;
      --nav-open-phone-menu-background: #ffffff;
      --nav-open-phone-menu-text-color: black;
      --nav-text-color: black;
    // Footer
      --footer-background: black;
      --footer-text-color: #ffffff;
    // Socials Sidebar
      --socials-sidebar-background: #ffffff;


  // Ovde postvljam pojedinacne boje u zavisnosti od aktivne teme
  /* Light Theme */
    --l-background-color: #ffffff;
    --l-color: #213547;
    // Navbar
      --l-nav-hover-color: #B2CC85;
      --l-nav-open-phone-menu-background: #ffffff;
      --l-nav-text-color: black;
    // Footer
      --l-footer-background: black;
      --l-footer-text-color: #ffffff;
    // Socials Sidebar
      --l-socials-sidebar-background: #ffffff;

  /* Dark Theme */
    --d-background-color: #242424;
    --d-color: #ffffff;
    // Navbar
      --d-nav-hover-color: #B2CC85;
      --d-nav-open-phone-menu-background: #242424;
      --d-nav-text-color: #ffffff;
    // Footer
      --d-footer-background: black;
      --d-footer-text-color: #ffffff;
    // Socials Sidebar
      --d-socials-sidebar-background: black;


  /* ======= [ Colors ] ======= */
}

// Ovde povezujem varijable pojedinacnih tema sa glavnim default varijablama
@media (prefers-color-scheme: light) {
  :root {
    --color: var(--l-color);
    --background-color: var(--l-background-color);
    --nav-hover-color: var(--l-nav-hover-color);
    --nav-open-phone-menu-background: var(--l-nav-open-phone-menu-background);
    --nav-text-color: black;

    // Footer
    --footer-background: var(--l-footer-background);
    --footer-text-color: var(--l-footer-text-color);

    // Socials Sidebar
      --socials-sidebar-background: var(--l-socials-sidebar-background);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: var(--d-color);
    --background-color: var(--d-background-color);
    --nav-hover-color: var(--d-nav-hover-color);
    --nav-open-phone-menu-background: var(--d-nav-open-phone-menu-background);
    --nav-text-color: #ffffff;

    // Footer
    --footer-background: var(--d-footer-background);
    --footer-text-color: var(--d-footer-text-color);

    // Socials Sidebar
      --socials-sidebar-background: var(--d-socials-sidebar-background);
  }
}



// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: gray;
  cursor: pointer;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 83, 83);
  cursor: pointer;
}
