@import '../../index.scss';
@import '../../global/mixins.scss';

.project-description-background{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.7s ease;
  margin-bottom: 100%;
  margin-top: 100%;
  z-index: 1;
  // .layout-testing{
  // display: grid;
  // grid-template-columns: 1.7fr 1fr;
  // max-height: 100vh;
  // height: 100%;
  // width: 100%;
  // gap: 2rem;

  //   @media screen and (max-width: 800px) {
  //     display: grid;
  //     grid-template-columns: 1fr;
  //   }
  // }

  

  .header{
    .header-h1{
      @include h1_default;
      margin-bottom: 0px;
    }
    margin-top: 2rem;
    margin-bottom: 0px !important;
    
    .header-links{
      display: none;
      width: 100%;
      align-items: center;
      justify-content: center;
      height: 40px;
      overflow: hidden;
      gap: 0.2rem;

      @media screen and (max-width: 800px) {
        display: flex;
      }

      .link-case-study{
        cursor: pointer;
        background-color: transparent;
        border: none;
        padding: 0px;
      }

      .header-icon-link{
        position: relative;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                    0 1px 3px rgba(0, 0, 0, 0.08);
      
        .header-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px;
          border-radius: 5px;
          height: 24px;
          width: 24px;
          cursor: pointer;
          opacity: 0.9;

          &:hover{
            background-color: var(--highlight);
            opacity: 1;
          }


        }
      }
    }
  }

  .carousel-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    gap: 0.5rem;
    z-index: 3;
    align-self: center;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 1rem;
  }
}

.show-left{
  opacity: 1;
  transform: translateX(0px);
}
.hide-left{
  opacity: 0;
  transform: translateX(-100px);
}
.show-right{
  opacity: 1;
  transform: translateX(0px);
}
.hide-right{
  opacity: 0;
  transform: translateX(+100px);
}